main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


#containNouv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //align-items: center;
}

#nouvDiv{
    width: 30%;
    text-align: center;
}

#nouvDiv img{
    width: 300px;
    height: 300px;
}


#containDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    //align-items: center;
}

#eveDiv{
    display: flex;
    flex-direction: row;
}

#eveDiv img{
    padding-right: 15px;
}
