#grilleevenement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    grid-column-gap: 10px;
    text-align: center;
}

#grilleevenement div{
    border: solid 1px black;

}