
#containerBurger{
	width: 30px;
	position: relative;
	z-index: 2;
}

#burger {
	width: 30px;
	height: 35px;
	position: relative;
	margin: 50px auto;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
  }



  #burger span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: $grisFonce;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
  }


  
#btn1 {
	top: 0px;
  }
  
  #btn2 {
	top: 8px;
  }
  
  #btn3  {
	top: 16px;
  }

// .open{
// 	transform: scale(2);
// }

  
  
   .open #btn1 {
	 top: 8px;

 	transform: rotate(135deg);
   }
  
   .open #btn2 {
 	opacity: 0;
 	left: -60px;
   }

   .open #btn3 {
 	top: 8px;

 	transform: rotate(-135deg);
   }
  





   #divNav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: $grisFonce;
	overflow-x: hidden; 
	padding-top: 60px; 
	transition: 0.5s ease; 
   }

   #divNav a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	color: $grisTexte;
	display: block;
	transition: 0.3s ease;
   }

   #divNav a:hover{
		color: white;
   }
   

  






















// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;
// 	height: 10%;

// 	ul {
// 		display: block;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;

// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: 100%;
// 			left: -999em;
// 			z-index: 99999;

// 			ul {
// 				left: -999em;
// 				top: 0;
// 			}

// 			li {
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}

// 			a {
// 				width: 200px;
// 			}

// 			:hover > a,
// 			.focus > a {
// 				color: red;
// 			}

// 			a:hover,
// 			a.focus {
// 				color: red;
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}

// 	li {
// 		float: left;
// 		position: relative;

// 		&:hover > a,
// 		&.focus > a {
// 		}
// 	}

// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a,
// 	.current-menu-ancestor > a {
// 	}
// }

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {

// 	.site-main & {
// 		margin: 0 0 1.5em;
// 		overflow: hidden;
// 	}

// 	.nav-previous {
// 		float: left;
// 		width: 50%;
// 	}

// 	.nav-next {
// 		float: right;
// 		text-align: right;
// 		width: 50%;
// 	}
// }
